.App {
  text-align: center; 
  margin:  auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid; */
  padding: 10px;
  height: 510px;
  background-color: white;
  width: 500px;
}

@media only screen and (max-width: 600px) {
  .App {
   width: 300px;
   height: 600px;
   font-size: 11px;
   padding: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .App {
   width: 250px;
   height: 400px;
   font-size: 11px;
   padding: 30px;
  }
}


.answer-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 40px;
  width: 100%;
}

.option{
  cursor: pointer;
  border: none;
  padding: 7px;
  width: 150px;

}

button{
  cursor: pointer;
  font-weight: bold;

}
p{
  font-weight: bold;
}

.restart-btn{
  padding: 10px;
  width: 200px;
  border: none;
}
.start-btn{
 width: 170px;
margin: 30px auto auto auto;
padding: 11px;
border: none;
}

.next-section{
   margin-top: 30px; 
  display: flex;
  justify-content: flex-end;

}

.nextButton{
  outline: none;
  border: none;
  background-color: Transparent;
}
.fa-solid{
  font-size: 25px;
  color: #fd5660;
}

.start-screen{
  display: flex;
  flex-direction: column;
}

